/* Example 26-13: styles.css */

* {
  font-family:verdana,sans-serif;
  font-size  :12pt;
}

body {
  width     :800px;
  margin    :20px auto;
  background:#fff;
  border    :1px solid #888;
}

html {
  background:#fff
}

img {
  border            :1px solid black;
  margin-right      :15px;
  -moz-box-shadow   :2px 2px 2px #888;
  -webkit-box-shadow:2px 2px 2px #888;
  box-shadow        :2px 2px 2px #888;
}

li a, .button {
 text-decoration:none;
}

li a:hover, .button:hover {
  color:green;
}

.appname {
  text-align :center;
  background :#000;
  color      :#f00;
  font-family:verdana;
  font-size  :20pt;
  padding    :4px;
}

.fieldname {
  float:left;
  width:155px;
}

.main {
  margin-left:40px;
}

.info 
{
  color      :blue;
	border     :1px solid blue;
	padding    :5px 10px;
  margin-left:40px;
}

.menu li, .button {
  /* Original
  display           :inline;
  padding           :4px 6px;
  border            :1px solid #777;
  background        :#ddd;
	color             :#d04;
  margin-right      :8px;
	border-radius     :5px;
	-moz-box-shadow   :2px 2px 2px #888;
	-webkit-box-shadow:2px 2px 2px #888;
	box-shadow        :2px 2px 2px #888;
*/

  display: inline;
  border-top: 1px solid #ccc;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-left: 1px solid #ccc;
  padding: 5px 20px;
  font-weight: bold;
  cursor: pointer;
  color: #666;
  margin-right: 8px;

/*
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-shadow: 0 -1px 1px #FFF, -1px 0 1px #FFF, 1px 0 1px #aaa;
    -webkit-box-shadow: 1px 1px 2px #E7E7E7;
    -moz-box-shadow: 1px 1px 2px #E7E7E7;
*/

  background: -moz-linear-gradient(top, #fff, #F1F1F1 1%, #F1F1F1 50%, #DFDFDF 99%, #ccc);
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.01, #F1F1F1), color-stop(0.5, #F1F1F1), color-stop(0.99, #DFDFDF), to(#ccc));
}

input#submit_button
{
  border-top: 1px solid #ccc;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-left: 1px solid #ccc;
  padding: 5px 20px;
  font-weight: bold;
  cursor: pointer;
  color: #666;
  margin-right: 8px;
  text-shadow: 0 -1px 1px #FFF, -1px 0 1px #FFF, 1px 0 1px #aaa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px #E7E7E7;
  -moz-box-shadow: 1px 1px 2px #E7E7E7;
  background: -moz-linear-gradient(top, #fff, #F1F1F1 1%, #F1F1F1 50%, #DFDFDF 99%, #ccc);
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.01, #F1F1F1), color-stop(0.5, #F1F1F1), color-stop(0.99, #DFDFDF), to(#ccc));
}

.subhead {
  font-weight:bold;
}

.taken, .error {
  color:red;
}

.warning
{
  color:darkorange;
}

.available {
  color:green;
}

.whisper {
  font-style:italic;
  color     :#006600;
}

#logo {
  font-family:Georgia;
  font-weight:bold;
  font-style:italic;
  font-size :97px;
}
