/* Example 26-13: styles.css */

* {
  font-family:verdana,sans-serif;
  font-size  :12pt;
}

body {
  width     :800px;
  margin    :20px auto;
  background:#fff;
  border    :1px solid #888;
}

html {
  background:#fff
}

img {
  border            :1px solid black;
  margin-right      :15px;
  -moz-box-shadow   :2px 2px 2px #888;
  -webkit-box-shadow:2px 2px 2px #888;
  box-shadow        :2px 2px 2px #888;
}

li a, .button {
 text-decoration:none;
}

li a:hover, .button:hover {
  color:green;
}

.appname {
  text-align :center;
  background :#000;
  color      :#f00;
  font-family:verdana;
  font-size  :20pt;
  padding    :4px;
}

.fieldname {
  float:left;
  width:155px;
}

.main {
  margin-left:40px;
}

.info 
{
  color      :blue;
	border     :1px solid blue;
	padding    :5px 10px;
  margin-left:40px;
}

.menu li, .button {
  /* Original
  display           :inline;
  padding           :4px 6px;
  border            :1px solid #777;
  background        :#ddd;
	color             :#d04;
  margin-right      :8px;
	border-radius     :5px;
	-moz-box-shadow   :2px 2px 2px #888;
	-webkit-box-shadow:2px 2px 2px #888;
	box-shadow        :2px 2px 2px #888;
*/

  display: inline;
  border-top: 1px solid #ccc;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-left: 1px solid #ccc;
  padding: 5px 20px;
  font-weight: bold;
  cursor: pointer;
  color: #666;
  margin-right: 8px;

/*
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-shadow: 0 -1px 1px #FFF, -1px 0 1px #FFF, 1px 0 1px #aaa;
    -webkit-box-shadow: 1px 1px 2px #E7E7E7;
    -moz-box-shadow: 1px 1px 2px #E7E7E7;
*/

  background: -moz-linear-gradient(top, #fff, #F1F1F1 1%, #F1F1F1 50%, #DFDFDF 99%, #ccc);
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.01, #F1F1F1), color-stop(0.5, #F1F1F1), color-stop(0.99, #DFDFDF), to(#ccc));
}

input#submit_button
{
  border-top: 1px solid #ccc;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-left: 1px solid #ccc;
  padding: 5px 20px;
  font-weight: bold;
  cursor: pointer;
  color: #666;
  margin-right: 8px;
  text-shadow: 0 -1px 1px #FFF, -1px 0 1px #FFF, 1px 0 1px #aaa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px #E7E7E7;
  -moz-box-shadow: 1px 1px 2px #E7E7E7;
  background: -moz-linear-gradient(top, #fff, #F1F1F1 1%, #F1F1F1 50%, #DFDFDF 99%, #ccc);
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.01, #F1F1F1), color-stop(0.5, #F1F1F1), color-stop(0.99, #DFDFDF), to(#ccc));
}

.subhead {
  font-weight:bold;
}

.taken, .error {
  color:red;
}

.warning
{
  color:darkorange;
}

.available {
  color:green;
}

.whisper {
  font-style:italic;
  color     :#006600;
}

#logo {
  font-family:Georgia;
  font-weight:bold;
  font-style:italic;
  font-size :97px;
}


.gameTab
{
  border-width: 2px;
  border-color: #000;
  border-style: solid;
  border-spacing: 0;
  border-collapse: separate;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
       -o-border-radius: 6px;
          border-radius: 6px;
  box-shadow: 0 1px 1px #CCC; 
}

.gameTab th,
.gameTab td
{
  padding: 5px;
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  border-collapse: collapse;
  text-align: center;
}

/* border-radius -> 方向と垂直方向の半径の値を、左上・右上・右下・左下の順で指定します。 */

.gameTab th
{
  background: cyan;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}

/* -----------------------
  左上角丸　最初の行の最初のセル
----------------------- */
.gameTab tr:first-child th:first-child,
.gameTab tr:first-child td:first-child {
    -webkit-border-radius: 6px 0 0 0;
       -moz-border-radius: 6px 0 0 0;
         -o-border-radius: 6px 0 0 0;
            border-radius: 6px 0 0 0;
}
/* -----------------------
  右上角丸　最初の行の最後のセル
----------------------- */
.gameTab tr:first-child th:last-child,
.gameTab tr:first-child td:last-child {
    -webkit-border-radius: 0 6px 0 0;
       -moz-border-radius: 0 6px 0 0;
         -o-border-radius: 0 6px 0 0;
            border-radius: 0 6px 0 0;
}
/* -----------------------
  左下角丸　最後の行の最初のセル
----------------------- */
.gameTab tr:last-child th:first-child,
.gameTab tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 6px;
       -moz-border-radius: 0 0 0 6px;
         -o-border-radius: 0 0 0 6px;
            border-radius: 0 0 0 6px;
}
/* -----------------------
  右下角丸　最後の行の最後のセル
----------------------- */
.gameTab tr:last-child th:last-child,
.gameTab tr:last-child td:last-child {
    -webkit-border-radius: 0 0 6px 0;
       -moz-border-radius: 0 0 6px 0;
         -o-border-radius: 0 0 6px 0;
            border-radius: 0 0 6px 0;
}
/* --------------------------------------------
  thaed,tbodyを使う場合の設定
-------------------------------------------- */
.gameTab thead th {background:#e3dcd5;}
.gameTab thead+tbody th {background:#f4ede6;}
.gameTab tbody th {text-align:center;}/*IE*/
/* -----------------------
  左上角丸 thead内　最初の行の最初のセル
----------------------- */
.gameTab thead tr:first-child th:first-child,
.gameTab thead tr:first-child td:first-child {
    -webkit-border-radius: 6px 0 0 0;
       -moz-border-radius: 6px 0 0 0;
         -o-border-radius: 6px 0 0 0;
            border-radius: 6px 0 0 0;
}
/* -----------------------
  右上角丸 thead内　最初の行の最後のセル
----------------------- */
.gameTab thead tr:first-child th:last-child,
.gameTab thead tr:first-child td:last-child {
    -webkit-border-radius: 0 6px 0 0;
       -moz-border-radius: 0 6px 0 0;
         -o-border-radius: 0 6px 0 0;
            border-radius: 0 6px 0 0;
}
/* -----------------------
  角丸なし　thaedの後のtbody 最初の行の最初のセル
  角丸なし　thaedの後のtbody 最初の行の最後のセル
----------------------- */
.gameTab thead+tbody tr:first-child th:first-child,
.gameTab thead+tbody tr:first-child td:first-child,
.gameTab thead+tbody tr:first-child th:last-child,
.gameTab thead+tbody tr:first-child td:last-child {
    -webkit-border-radius:0px;
       -moz-border-radius:0px;
         -o-border-radius:0px;
            border-radius:0px;
}
/* -----------------------
  左下角丸　thaedの後のtbody 最後の行の最初のセル
----------------------- */
.gameTab thead+tbody tr:last-child th:first-child,
.gameTab thead+tbody tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 6px;
       -moz-border-radius: 0 0 0 6px;
         -o-border-radius: 0 0 0 6px;
            border-radius: 0 0 0 6px;
}
/* -----------------------
  右下角丸　thaedの後のtbody 最後の行の最後のセル
----------------------- */
.gameTab thead+tbody tr:last-child th:last-child,
.gameTab thead+tbody tr:last-child td:last-child {
    -webkit-border-radius: 0 0 6px 0;
       -moz-border-radius: 0 0 6px 0;
         -o-border-radius: 0 0 6px 0;
            border-radius: 0 0 6px 0;
}

